body {
    border: 3px solid #00FF41;
    background-color: #0D0208;
    font-family: Arial, Helvetica, sans-serif;
}

 body header img {
    display: flex;
    justify-content: space-around;
    height: 250px;
    width: 250px;
    margin: 0 auto;
    border: 3px solid #00FF41;
}

nav {
    border: 3px solid #00FF41;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 100px;
  }

nav button {
    color: #00FF41;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.frame {
    border: 2px solid #00FF41;
}

footer {
    height: 100px
}

.frame #about {
    display: flex;
    justify-content: center;
    border: 2px solid red;
    height: 80px; 
    color: #00FF41;
}


.frame p {
    text-align: center;
    border: 1px solid blue;
    color: #00FF41;
    height: 100px;
}
.frame #work {
    display: block;
    justify-content: center;
    border: 2px solid #00FF41;
    height: 80px;
    color: #00FF41;
}

#work {
    text-align: center;
}

.div-img{
    justify-content: center;
    align-items: center;
    display:flex;
    padding-top:20%;
}
img{
    transition: transform .2s;
    width:100px;
    height:100px;
    margin:0 auto;
    background-color: rgb(173, 173, 237);
    border-radius: 10px;
    border: 1px solid #00FF41;
}
img:hover{
    transform:scale(2.5);
}


.frame #contact {
    display: flex;
    justify-content: space-around;
    border: 2px solid red;
    height: 200px; 
    color: #00FF41;
}

#contact {
    height: 100px;
}


/* Tablets - background changes color img changes size*/
@media screen and (max-width: 992px) {
    nav {
      background: #00FF41;
    }
    img {
        width: 50%;
    }
    button {
        background-color: #0D0208;
    }
  }
  
  /* Large smartphones - navbar changes background-color */
  @media screen and (max-width: 768px) {
    nav {
      background-color: #00FF41;
    }
  }
  
  /* Small smartphones - header changes background-color */
  @media screen and (max-width: 576px) {
    header {
      background-color: #00FF41;
    }
  }