body {
background-color: lightblue;
}

nav {
    color: wheat;
    box-sizing: border-box;
    border-style: dotted;
}
button {
    color: blue;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
article img{
    border-style: dotted;
    border: 3px white solid;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

section {
    border-style: dotted;
    color: white;
    display: flex;
    justify-content: center;
    /* margin-left: auto; */
    /* margin-right: auto; */
}